.git
.gitignore
node_modules
vendor
.env
.env.*
public/build
public/hot
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php
database/database.sqlite
*.md
.editorconfig
phpunit.xml
